<!doctype html>

<html>

<head>
  <title>TL</title>
  <link rel='stylesheet' href='/css/style.css'>
  <script src="js/turbolinks.js"></script>
</head>

<body>
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="about"><a href="/about">About</a></li>
        <li class="news"><a href="/news">Newsletter</a></li>
        <li class="contact"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </header>

  {{{body}}}
</body>

</html>
